.awesome-h1 {
    color: orange;
}

.awesome-h2 {
    color: aquamarine;
}

.awesome-h3 {
    color: lightseagreen;
}

.awesome-h4 {
    color: lemonchiffon;
}

.awesome-h5 {
    color: lightgrey;
}

.awesome-h6 {
    color: lightcoral;
}